@model TechSFrameWork.Models.ErrorViewModel
@{
    ViewData["Title"] = "Contact TBS Administrator";
}
<div class="card">
    <h1>TBS Access Issue</h1>
    <br />
    <h2 class="text-danger"> User Rights Management <i class="material-icons">sad</i></h2>
    <h3 class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are not authorize to use this option, <u>contact administrator</u></h3>
    <br />
    <div>
        <h4> User Rights Issue</h4>

        <p>Contact administrator if your authorize to use this option</p>
    </div>

</div>