<html>
<head>
    <title>Meeting DotNetCoreBoilerplate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/LoginScripts/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/css/main.css">
    <style>
        .textForValidation {
            text-decoration-color: #ff1a1a
        }
    </style>
</head>
<body>
    @*~/images/Logo.png*@
    <div class="limiter">

        <div class="container-login100" style="background-image: url('~/LoginScripts/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <span class="login100-form-logo js-tilt" data-tilt>
                        <img src="~/images/Logo.png" style="width:190px;height:170px" />
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27 " style="margin-top:5px;font-size:30px">
                        Digital Security Clearance
                    </span>
                    <div asp-validation-summary="ModelOnly" style="color:red"></div>

                                 

                    <div class="wrap-input100 validate-input" data-validate="Enter User Id">
                        <input class="input100" autocomplete="off" type="text" required name="Id" placeholder="Enter User Id">
                    </div>
                    <span id="name" style="text-align:center;color:red"></span>

                    <div class="text-center p-t-100">
                        Please contact Administrator in case of password forgotten.
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginScripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/daterangepicker/moment.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/js/main.js"></script>
    <script src="~/LoginScripts/js/tilt.jquery.min.js"></script>
</body>
</html>
<partial name="_ValidationScriptsPartial" />