@model DotNetCoreBoilerplate.Identity.ViewModels.PasswordResetViewModel

<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>Nexship Password Reset</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="/metheme/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/metheme/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <!--begin::Page bg image-->
        <style>
            body {
                background-image: url('/metheme/dist/assets/media/auth/bg4.jpg');
            }

            [data-bs-theme="dark"] body {
                background-image: url('/metheme/dist/assets/media/auth/bg4-dark.jpg');
            }</style>
        <!--end::Page bg image-->
        <!--begin::Authentication - Password reset -->
        <div class="d-flex flex-column flex-column-fluid flex-lg-row">
            <!--begin::Aside-->
            <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
                <!--begin::Aside-->
                <div class="d-flex flex-center flex-lg-start flex-column">
                    <!--begin::Logo-->
                    <a href="/" class="mb-7">
                        <img alt="Logo" src="/metheme/dist/assets/media/logos/custom-3.svg" />
                    </a>
                    <!--end::Logo-->
                    <!--begin::Title-->
                    <h2 class="text-white fw-normal m-0">Multi Tenant Inventory Management System</h2>
                    <!--end::Title-->
                </div>
                <!--begin::Aside-->
            </div>
            <!--begin::Aside-->
            <!--begin::Body-->
            <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
                <!--begin::Card-->
                <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
                        <!--begin::Form-->
                        <form class="form w-100" novalidate="novalidate" id="kt_docs_formvalidation_email" asp-controller="Account" asp-action="PasswordReset">
                            <!--begin::Heading-->
                            <div class="text-center mb-10">
                                <!--begin::Title-->
                                <h1 class="text-dark fw-bolder mb-3">Forgot Password ?</h1>
                                <!--end::Title-->
                                <!--begin::Link-->
                                <div class="text-gray-500 fw-semibold fs-6">Enter your Password.</div>
                                <!--end::Link-->
                            </div>
                            <!--begin::Heading-->
                            <!--begin::Input group=-->
                            <div class="fv-row mb-8">
                                <!--begin::Email-->
                                <input type="password" asp-for="OldPassword" name="old_password" placeholder="Old Password" autocomplete="off" class="form-control bg-transparent" />
                                <!--end::Email-->
                                <!--begin::Password-->
                                <input type="password" asp-for="Password" name="new_password" placeholder="New Password" autocomplete="off" class="mt-2 form-control bg-transparent" />

                                <input type="password" asp-for="ConfirmPassword" name="confirm_password" placeholder="Confirm Password" autocomplete="off" class="mt-2 form-control bg-transparent" />

                                <!--end::Password-->
                            </div>
                            <input type="hidden" id="UserId" asp-for="ApplilicationUserId" />

                            <!--begin::Actions-->
                            <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                                <button type="submit" id="kt_docs_formvalidation_email_submit" class="btn btn-primary me-4">
                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">Reset</span>
                                    <!--end::Indicator label-->
                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                    <!--end::Indicator progress-->
                                </button>
                                <a href="~/Home/Index" type="submit" class="btn btn-light">Cancel</a>
                            </div>
                            <!--end::Actions-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-stack px-lg-10">

                        <!--begin::Links-->
                        <div class="d-flex fw-semibold text-primary fs-base gap-5">
                            <a href="../../demo1/dist/pages/team.html" target="_blank">Terms</a>
                            <a href="../../demo1/dist/pages/pricing/column.html" target="_blank">Plans</a>
                            <a href="../../demo1/dist/pages/contact.html" target="_blank">Contact Us</a>
                        </div>
                        <!--end::Links-->
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Authentication - Password reset-->
    </div>


    <script src="~/metheme/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/metheme/dist/assets/js/scripts.bundle.js"></script>
    <script src="~/metheme/dist/assets/js/custom/authentication/reset-password/reset-password.js"></script>

</body>
</html>
<partial name="_ValidationScriptsPartial" />

<script>

    // Define form element
    const form = document.getElementById('kt_docs_formvalidation_email');

    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    var validator = FormValidation.formValidation(
        form,
        {
            fields: {
                'old_password': {
                    validators: {

                        notEmpty: {
                            message: 'Old Password is required'
                        }
                    }
                },
                'new_password': {
                    validators: {

                        notEmpty: {
                            message: 'New Password is required'
                        }
                    }
                },
                'confirm_password': {
                    validators: {

                        notEmpty: {
                            message: 'Confirm Password is required'
                        }
                    }
                },

            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap: new FormValidation.plugins.Bootstrap5({
                    rowSelector: '.fv-row',
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        }
    );

    // Submit button handler
    const submitButton = document.getElementById('kt_docs_formvalidation_email_submit');
    submitButton.addEventListener('click', async function (e) {
        // Prevent default button action
        e.preventDefault();

        // Validate form before submit
        if (validator) {
            const status = await validator.validate();

            if (status === 'Valid') {
                // Show loading indication
                submitButton.setAttribute('data-kt-indicator', 'on');

                // Disable button to avoid multiple clicks
                submitButton.disabled = true;

                const formData = new FormData(form);
                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        body: formData
                    });

                    if (response.ok) {
                        // Handle successful response
                        // Assuming the response contains necessary data/message

                        Swal.fire({
                            text: "Password has been reset successfully!",
                            icon: "success",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary"
                            }
                        }).then(() => {
                            // Redirect to the index page
                            window.location.href = "~/Home/Index";
                        });
                    } else {
                        console.log('Error occurred');
                    }
                } catch (error) {
                    console.error('Fetch error:', error);
                }

                // Remove loading indication
                submitButton.removeAttribute('data-kt-indicator');
                // Enable button
                submitButton.disabled = false;
            }
        }
    });


                //$(document).ready(function () {

                //    var Width = $(window).width();
                //    var Height = $(window).height();
                //    $("#Height").val(Height);
                //    $("#Width").val(Width);
                //});

</script>