@model IEnumerable<DotNetCoreBoilerplate.Identity.Models.ApplicationUser>
@{
    ViewData["Title"] = "UserDetails";
}

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">User Details</h4></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">
                        <strong>  Username </strong>
                    </th>
                    <th width="10%">
                        <strong>  Start Date </strong>
                    </th>
                    <th width="10%">
                        <strong> End Datew </strong>
                    </th>

                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

    </div>
</div>
