@model DotNetCoreBoilerplate.Models.Tenant

@{
    ViewData["Title"] = "Create";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Tenant</h4>
<hr />


<div class="row">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="number-tab" data-bs-toggle="tab" data-bs-target="#number" type="button" role="tab" aria-controls="number" aria-selected="false">Number Sequence</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Package</button>
        </li>
    </ul>
    <form asp-action="Create">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="category-links">
                    <a class="category-link" tabindex="-1" href="#Address">Address</a>
                    <span class="separator">|</span>
                    <a class="category-link" tabindex="-1" href="#Identity">Identity</a>
                    <div class="clear"></div>
                </div>
                <div class="categories">
                    <div class="category category-first">
                        <div class="category-title">
                            <a class="category-anchor" name="Identity" style="opacity: 1;">Identity</a>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="TenantName" class="required fs-6 fw-semibold mb-2"></label>
                            <input asp-for="TenantName" required class="required form-control " />
                            <span asp-validation-for="TenantName" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="Currency" class="required fs-6 fw-semibold mb-2"></label>
                            <input asp-for="Currency" required class=" form-control " />
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="Description" class="fs-6 fw-semibold mb-2"></label>
                            <textarea asp-for="Description" class="form-control " ></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        
                    </div>
                    <div class="category category-sec">
                        <div class="category-title">
                            <a class="category-anchor" name="Address" style="opacity: 1;">Address</a>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="Street" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="City" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="State" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="ZipCode" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="Phone" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="Email" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show " id="number" role="tabpanel" aria-labelledby="number-tab">
                <div class="category-links">
                    <a class="category-link" tabindex="-1" href="#Merchandise">Merchandise</a>
                    <span class="separator">|</span>
                    <a class="category-link" tabindex="-1" href="#Sales">Sales</a>
                    <span class="separator">|</span>
                    <a class="category-link" tabindex="-1" href="#Purchase">Purchase</a>
                    <span class="separator">|</span>
                    <a class="category-link" tabindex="-1" href="#Inventory">Inventory</a>
                    <div class="clear"></div>
                </div>
                <div class="categories">
                    <div class="category category-first">
                        <div class="category-title">
                            <a class="category-anchor" name="Merchandise" style="opacity: 1;">Merchandise</a>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="ProductNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="ProductNumberPrefix" class="form-control" />
                            <span asp-validation-for="ProductNumberPrefix" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="ProductNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="ProductNumberUseDate" class="form-control" />
                            <span asp-validation-for="ProductNumberUseDate" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="ProductNumberLength" class="fs-6 fw-semibold mb-2"></label>
                            <input type="number" asp-for="ProductNumberLength"  class="form-control" />
                            <span asp-validation-for="ProductNumberLength" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="category">
                        <div class="category-title">
                            <a class="category-anchor" name="Sales" style="opacity: 1;">Sales</a>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="CustomerNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="CustomerNumberPrefix" class="form-control" />
                            <span asp-validation-for="CustomerNumberPrefix" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="CustomerNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="CustomerNumberUseDate" class="form-control" />
                            <span asp-validation-for="CustomerNumberUseDate" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="CustomerNumberLength" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="CustomerNumberLength" class="form-control" />
                            <span asp-validation-for="CustomerNumberLength" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="SalesNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="SalesNumberPrefix" class="form-control" />
                            <span asp-validation-for="SalesNumberPrefix" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="SalesNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="SalesNumberUseDate" class="form-control" />
                            <span asp-validation-for="SalesNumberUseDate" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="SalesNumberLength" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="SalesNumberLength" class="form-control" />
                            <span asp-validation-for="SalesNumberLength" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoiceNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoiceNumberPrefix" class="form-control" />
                            <span asp-validation-for="InvoiceNumberPrefix" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoiceNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoiceNumberUseDate" class="form-control" />
                            <span asp-validation-for="InvoiceNumberUseDate" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoiceNumberLength" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoiceNumberLength" class="form-control" />
                            <span asp-validation-for="InvoiceNumberLength" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoicePaymentNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoicePaymentNumberPrefix" class="form-control" />
                            <span asp-validation-for="InvoicePaymentNumberPrefix" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoicePaymentNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoicePaymentNumberUseDate" class="form-control" />
                            <span asp-validation-for="InvoicePaymentNumberUseDate" class="text-danger"></span>
                        </div>
                        <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                            <label asp-for="InvoicePaymentNumberLength" class="fs-6 fw-semibold mb-2"></label>
                            <input asp-for="InvoicePaymentNumberLength" class="form-control" />
                            <span asp-validation-for="InvoicePaymentNumberLength" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               <div class="category">
                    <div class="category-title">
                        <a class="category-anchor" name="Purchase" style="opacity: 1;">Purchase</a>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="VendorNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="VendorNumberPrefix" class="form-control" />
                        <span asp-validation-for="VendorNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="VendorNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="VendorNumberUseDate" class="form-control" />
                        <span asp-validation-for="VendorNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="VendorNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="VendorNumberLength" class="form-control" />
                        <span asp-validation-for="VendorNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseNumberPrefix" class="form-control" />
                        <span asp-validation-for="PurchaseNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseNumberUseDate" class="form-control" />
                        <span asp-validation-for="PurchaseNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseNumberLength" class="form-control" />
                        <span asp-validation-for="PurchaseNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillNumberPrefix" class="form-control" />
                        <span asp-validation-for="BillNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillNumberUseDate" class="form-control" />
                        <span asp-validation-for="BillNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillNumberLength" class="form-control" />
                        <span asp-validation-for="BillNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillPaymentNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillPaymentNumberPrefix" class="form-control" />
                        <span asp-validation-for="BillPaymentNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillPaymentNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillPaymentNumberUseDate" class="form-control" />
                        <span asp-validation-for="BillPaymentNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="BillPaymentNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="BillPaymentNumberLength" class="form-control" />
                        <span asp-validation-for="BillPaymentNumberLength" class="text-danger"></span>
                    </div>
               </div>
               <div class="category">
                    <div class="category-title">
                        <a class="category-anchor" name="Inventory" style="opacity: 1;">Inventory</a>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesDeliveryNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesDeliveryNumberPrefix" class="form-control" />
                        <span asp-validation-for="SalesDeliveryNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesDeliveryNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesDeliveryNumberUseDate" class="form-control" />
                        <span asp-validation-for="SalesDeliveryNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesDeliveryNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesDeliveryNumberLength" class="form-control" />
                        <span asp-validation-for="SalesDeliveryNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesReturnNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesReturnNumberPrefix" class="form-control" />
                        <span asp-validation-for="SalesReturnNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesReturnNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesReturnNumberUseDate" class="form-control" />
                        <span asp-validation-for="SalesReturnNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="SalesReturnNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="SalesReturnNumberLength" class="form-control" />
                        <span asp-validation-for="SalesReturnNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReceiptNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReceiptNumberPrefix" class="form-control" />
                        <span asp-validation-for="PurchaseReceiptNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReceiptNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReceiptNumberUseDate" class="form-control" />
                        <span asp-validation-for="PurchaseReceiptNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReceiptNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReceiptNumberLength" class="form-control" />
                        <span asp-validation-for="PurchaseReceiptNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReturnNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReturnNumberPrefix" class="form-control" />
                        <span asp-validation-for="PurchaseReturnNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReturnNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReturnNumberUseDate" class="form-control" />
                        <span asp-validation-for="PurchaseReturnNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PurchaseReturnNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PurchaseReturnNumberLength" class="form-control" />
                        <span asp-validation-for="PurchaseReturnNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PositiveAdjustmentNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PositiveAdjustmentNumberPrefix" class="form-control" />
                        <span asp-validation-for="PositiveAdjustmentNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PositiveAdjustmentNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PositiveAdjustmentNumberUseDate" class="form-control" />
                        <span asp-validation-for="PositiveAdjustmentNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="PositiveAdjustmentNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="PositiveAdjustmentNumberLength" class="form-control" />
                        <span asp-validation-for="PositiveAdjustmentNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="NegativeAdjustmentNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="NegativeAdjustmentNumberPrefix" class="form-control" />
                        <span asp-validation-for="NegativeAdjustmentNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="NegativeAdjustmentNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="NegativeAdjustmentNumberUseDate" class="form-control" />
                        <span asp-validation-for="NegativeAdjustmentNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="NegativeAdjustmentNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="NegativeAdjustmentNumberLength" class="form-control" />
                        <span asp-validation-for="NegativeAdjustmentNumberLength" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="TransferOrderNumberPrefix" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="TransferOrderNumberPrefix" class="form-control" />
                        <span asp-validation-for="TransferOrderNumberPrefix" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="TransferOrderNumberUseDate" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="TransferOrderNumberUseDate" class="form-control" />
                        <span asp-validation-for="TransferOrderNumberUseDate" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-3 fv-plugins-icon-container ml-1">
                        <label asp-for="TransferOrderNumberLength" class="fs-6 fw-semibold mb-2"></label>
                        <input asp-for="TransferOrderNumberLength" class="form-control" />
                        <span asp-validation-for="TransferOrderNumberLength" class="text-danger"></span>
                    </div>
               </div>
            </div>
            <div class="tab-pane fade show " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="fv-row mb-3 fv-plugins-icon-container ">
                    <label asp-for="MaximumUser" class="required fs-6 fw-semibold mb-2"></label>
                    <input asp-for="MaximumUser" required class="form-control" />
                    <span asp-validation-for="MaximumUser" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="fv-row mb-3 fv-plugins-icon-container">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
