<div class="card">

        <div class="detailCol">
            <h3>
               Demo System
            </h3>
            <h6>Version: 1.0 &copy;</h6>
            <br/>
            <br/>
            <br/>
        </div>
  
</div>