@using DotNetCoreBoilerplate.Common.Enum
@inject DotNetCoreBoilerplate.Areas.Identity.Services.IUserSessionService SessionServcie
@{
    var currentUser = SessionServcie.GetCurrentUser();
}
@if (SessionServcie.AlertNotification != null)
{
    <div id="title">@SessionServcie.AlertNotification.Title</div>
    <div id="message">@SessionServcie.AlertNotification?.NotificationMessage</div>

    if (SessionServcie.AlertNotification.PageAlertType == PageAlertType.Error)
    {
        <script>
            toastr["error"]($('#message'), $('#title'))
        </script>
    }

    if (SessionServcie.AlertNotification.PageAlertType == PageAlertType.Info)
    {
        <script>
            toastr["info"]($('#message'), $('#title'))
        </script>

    }

    if (SessionServcie.AlertNotification.PageAlertType == PageAlertType.Success)
    {
        <script>
            toastr["success"]($('#message'), $('#title'))
        </script>
    }

    if (SessionServcie.AlertNotification.PageAlertType == PageAlertType.Warning)
    {
        <script>
            toastr["warning"]($('#message'), $('#title'))
        </script>
    }

    SessionServcie.ClearAlertNotification();


    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
<div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2023&copy;</span>
        <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Nexship Inc.</a>
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        <li class="menu-item">
            <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
        </li>
        <li class="menu-item">
            <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
        </li>
        <li class="menu-item">
            <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
        </li>
    </ul>
    <!--end::Menu-->
</div>

<div class="modal modal-info fade" id="ModelForAll" data-backdrop="static" data-keyboard="false" style="background-color: #111111c9;">
    <div class="modal-dialog">
        <div class="modal-content modal-xl">
            <div id="PartialPlaceHolder"></div>
        </div>
    </div>
</div>

<div class="modal modal-info fade" id="ModelForAllNonStatic" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content modal-xl">
            <div id="PartialPlaceHolderNonStatic"></div>
        </div>
    </div>
</div>

<div class="modal modal-info" id="ModelDialogue" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content col-md-6" style="margin:100px auto;">
            <div id="PartialforDialogue"></div>
        </div>
    </div>
</div>

<div class="modal modal-info" id="ModelSmallCard" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content col-md-6" style="margin:100px auto; padding:30px 10px 10px 10px !important;">
            <div id="PartialPlaceHolderSmallModel"></div>
        </div>
    </div>
</div>
<!--begin::Modal - Customers - Add-->
<div class="modal fade" id="kt_modal_generic" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <div class="modal-header" id="kt_modal_generic_header">
                <!--Header Content Goes here-->
            </div>
            <div class="modal-body py-10 px-lg-17" id="">
                <div class="scroll-y me-n7 pe-7" id="kt_modal_generic_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_generic_header" data-kt-scroll-wrappers="#kt_modal_generic_scroll" data-kt-scroll-offset="300px">
                    @* <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                        <li class="nav-item">
                            <a class="nav-link active" id="kt_tab_1" data-bs-toggle="tab" href="#kt_tab_pane_1">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="kt_tab_2" data-bs-toggle="tab" href="#kt_tab_pane_2">Tab 2</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1">
                            <!-- Content of Tab 1 will be loaded here -->
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2">
                            <!-- Content of Tab 2 will be loaded here -->
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="kt_modal_generic_2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <div class="modal-header" id="kt_modal_generic_header_2">
                <!--Header Content Goes here-->
            </div>
            <div class="modal-body py-10 px-lg-17">
                <div class="scroll-y me-n7 pe-7" id="kt_modal_generic_scroll_2" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_generic_header_2" data-kt-scroll-wrappers="#kt_modal_generic_scroll_2" data-kt-scroll-offset="300px">
                    <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                        <li class="nav-item">
                            <a class="nav-link active" id="kt_tab_generic1" data-bs-toggle="tab" href="#kt_tab_pane_generic_1">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="kt_tab_generic2" data-bs-toggle="tab" href="#kt_tab_pane_generic_2">Tab 2</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="kt_tab_pane_generic_1">
                            <!-- Content of Tab 1 will be loaded here -->
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_generic_2">
                            <!-- Content of Tab 2 will be loaded here -->
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#kt_modal_generic" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
            </div> *@
        </div>
    </div>
</div>
<!--end::Modal - Customers - Add-->