@model IEnumerable<DotNetCoreBoilerplate.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column flex-column-fluid">

    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-xxl">
            <div class="card card-flush">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <div class="card-title">
                    </div>
                    <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                        <a onclick="AddCustomer()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_generic">
                            <i class="ki-duotone ki-plus fs-2"></i>
                            New Customer
                        </a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table  align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_datatable_customers" style="width:100%; text-align:center">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Actions</th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Street
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>
                                        Actions
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Street
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // alert("tet");
        var table = $("#kt_datatable_customers").DataTable({
            "dom": '<"toolbar">frtip',
            dom: 'Bfrtip',
            lengthMenu: [
                [15, 30, 50, 100, 500, 1000],
                ['15 rows', '30 rows', '50 rows', '100 rows', '500 rows', '1000 rows']
            ],
            buttons: [
                'pageLength', 'colvis',
            ],
            "scrollY": '58vh',
            "scrollX": false,
            "scrollCollapse": true,
            "Sort": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "searching": false,
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            // "order": [[4, "desc"]],
            "ajax": {
                "url": "/Customers/GetCustomer", //change this as Desire
                "type": "POST",
                "data": function (d) {
                    // d.FullName = FullName
                },
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [ //Data:"id" this Section is for Front end binding of Jason data with Attibute where name:"id" is The Table Coulm we want to Sort
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "button", "name": "Button", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Street", "name": "Street", "autoWidth": true },
                { "data": "City", "name": "City", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                
                // { "data": "Description", "name": "Description", "autoWidth": true },

            ],
        });

        $(".dt-buttons").append("<div id='MyCounts'></div>");
        function ShowFilterRecord() {
            var TableValue = JSON.parse(JSON.stringify(table.page.info()));
            $("#MyCounts").html("<div class='dt-buttons btn-group' style='margin-left:20px;'> <a class='btn btn-primary' aria-controls='Total Records' href='#'><span>Total Records: " + TableValue.recordsTotal + "</span></a> <a style='margin-left:5px;' class='btn btn-primary '  aria-controls='kt_datatable_customers' href='#'><span>Filtered Records : " + TableValue.recordsDisplay + " </span></a></div>");
        }

        setTimeout(function () {
            ShowFilterRecord();
        }, 1000);
        $('#filter').click(function () {
            table.draw();
            setTimeout(function () {
                ShowFilterRecord();
            }, 1000);
        });
    });

    jQuery(document).bind("keyup keydown", function (e) {
        if (e.keyCode == 13) {
            $('#filter').click();
        }
    });
    jQuery(document).bind("keyup keydown", function (e) {
        if (e.ctrlKey && e.keyCode == 08) {
            $('#REset').click();
        }
    });
</script>